<div class="h-full bg-gray-50 py-6">
  <div class="flex h-full border rounded-xl shadow bg-white overflow-hidden">
    
    <!-- Sidebar lớp chat -->
    <app-message-list 
      class="w-1/4 border-r h-full" 
      [selectedClassroom]="selectedClassroom"
      [updatedMessage]="lastMessageUpdate"
      (openChat)="selectClassroom($event)" 
    />

    <!-- Nội dung tin nhắn -->
    <div class="flex-1 h-full">
      <app-message-detail 
        *ngIf="selectedClassroom" 
        [classroom]="selectedClassroom" 
        [currentUser]="currentUser"
        (messageSent)="handleNewMessage($event)"
        class="h-full"
      />
    </div>

  </div>
</div>
