<!-- chat.component.html -->
<div class="chat-wrapper">
  <!-- Header -->
  <div class="chat-header">
    Chat
  </div>

  <!-- Danh sách tin nhắn -->
  <div class="chat-messages" id="chat-container">
    <div 
      *ngFor="let msg of messages; let i = index" 
      class="message-row"
      [ngClass]="{ 'from-me': isCurrentUser(msg) }"
    >
      <div 
        class="message-container"
        [ngClass]="{ 'reverse': isCurrentUser(msg) }"
      >
        <!-- Avatar -->
        <ng-container *ngIf="shouldShowAvatar(i, msg)">
          <app-avatar 
            [user]="msg.user" 
            [width]="'w-8'" 
            [height]="'h-8'" 
            [isAllowUpload]="false"
          ></app-avatar>
        </ng-container>

        <ng-container *ngIf="!shouldShowAvatar(i, msg) && !isCurrentUser(msg)">
          <div class="w-8 h-8"></div>
        </ng-container>

        <div>
          <!-- Tên + thời gian -->
          <div *ngIf="shouldShowSenderInfo(i, msg)" class="message-meta">
            <span class="sender-name">{{ msg.user.firstName }} {{ msg.user.lastName }}</span>
          </div>

          <!-- Nội dung tin nhắn -->
          <div class="message-wrapper group relative">
            <!-- Nội dung tin nhắn -->
            <div 
              class="message-bubble relative"
              [ngClass]="{ 'mine': isCurrentUser(msg) }"
            >
              {{ msg.content }}
              
              <!-- Tooltip thời gian -->
              <div
                class="absolute bottom-full left-1/3 transform -translate-x-1/2 mb-2 opacity-0 group-hover:opacity-100 transition-all duration-300 bg-gray-700 text-white text-xs px-2 py-1 rounded shadow whitespace-nowrap z-[9999] pointer-events-none"
              >
                {{ msg.sentAt | date: 'HH:mm dd/MM/yyyy' }}
                <!-- Mũi tên -->
                <div class="absolute top-full left-1/2 transform -translate-x-1/2 w-0 h-0 border-l-4 border-r-4 border-t-4 border-transparent border-t-gray-700"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nhập tin nhắn -->
  <div class="chat-input">
    <input 
      [(ngModel)]="newMessage"
      (keydown.enter)="sendMessage()"
      class="input-box"
      placeholder="Nhập tin nhắn..." 
    />
    <button (click)="sendMessage()" class="send-button">
      {{ 'CHAT.SEND' | translate }}
    </button>
  </div>
</div>
