<!-- Wrapper chính cao 100vh -->
<div class="h-screen flex flex-col">
  <!-- Header cố định -->
  <app-header class="flex-none"></app-header>

  <!-- Nội dung chia làm sidebar + main -->
  <div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <app-sidebar *ngIf="!isAuthPage()" class="w-64 flex-none"></app-sidebar>

    <!-- Nội dung nằm giữa -->
    <main class="flex-1 overflow-auto flex justify-center">
      <div class="w-full max-w-[1000px] px-4">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
