<div class="min-h-screen bg-gray-50 flex items-center justify-center px-4">
  <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-md">
    <h2 class="text-2xl font-semibold text-center text-gray-800 mb-6">
      Đăng ký
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Username</label>
        <input
          formControlName="username"
          type="text"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Mật khẩu</label>
        <input
          formControlName="password"
          type="password"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Nhâp lại Mật khẩu</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Họ</label>
        <input
          formControlName="firstName"
          type="text"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Tên</label>
        <input
          formControlName="lastName"
          type="text"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4"> 
        <label class="block text-sm font-medium text-gray-700">Email</label>
        <input
          formControlName="email"
          type="email"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700">Vai trò</label>
        <select
          formControlName="role"
          class="mt-1 w-full px-4 py-2 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          <option value="STUDENT">Học sinh</option>
          <option value="TEACHER">Giáo viên</option>
        </select>
      </div>
      

      <div *ngIf="errorMessage" class="text-red-500 text-sm mb-4">
        {{ errorMessage }}
      </div>

      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 rounded-xl hover:bg-blue-700 transition"
        [disabled]="loading"
      >
        {{ loading ? 'Đang đăng ký...' : 'Đăng ký' }}
      </button>
    </form>

    <p class="text-sm text-gray-500 text-center mt-4">
      Đã có tài khoản?
      <a routerLink="/login" class="text-blue-600 hover:underline">Đăng nhập</a>
    </p>
  </div>
</div>